RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
# 自身のサイトからの参照は許可
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?ss1\.xrea\.com/app\.s17\.xrea\.com [NC]
# 許可したい特定のサイトからの参照も許可
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?nekofes\.github\.io [NC]
# それ以外のサイトからの画像ファイルへのアクセスは禁止
RewriteRule \.(jpe?g|png|gif|bmp)$ - [F]
